!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.c9/
.cache
.cache/
.classpath
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test
.env.test.local
.eslintcache
.Firebase
.fusebox/
.gac.json
.grunt
.local.env
.lock-wscript
.netlify
.next
.next/
.node_repl_history
.npm
.nuxt
.nyc_output
.pnp
.pnp.js
.pnpm-debug.log*
.project
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.settings/
.tern-port
.turbo
.vscode
.vscode/*
.vuepress/dist
.yarn-integrity
*.dll
*.dylib
*.exe
*.exe~
*.launch
*.lcov
*.log
*.out
*.pem
*.pid
*.pid.lock
*.seed
*.so
*.sublime-workspace
*.test
*.tgz
*.tsbuildinfo
*/dist
*/lib
*/node_modules
/.idea
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/out-tsc
/tmp
/typings
/Users/yu/Repos/bcsnipes/projects/packages/types/lib
apps/api/dist
apps/playground/dist
bower_components
build
build/Release
coverage
dist
jspm_packages/
lerna-debug.log*
lib
lib-cov
logs
node_modules
node_modules/
npm-debug.log
npm-debug.log*
ormconfig.json
out/
packages/constants/lib/*
packages/functions/lib/*
packages/types/lib/*
pids
process.yml
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
settings.json
testem.log
Thumbs.db
typings/
yarn-debug.log*
yarn-error.log
yarn-error.log*